.column {
  display: inline-block;
  height: calc(100% - 57px);
  min-width: 200px;
  padding: 6px;
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.list-group {
  flex: 1 1 0;
  overflow-y: auto;
  padding: 0;
}

.list-group > li {
  min-height: 68px;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.list-group-item :first-child {
  margin-right: 0;
}

.input-group-prepend {
  margin-right: 8px !important;
}

input[type="radio"] {
  cursor: pointer;
}

.input-group-text {
  align-items: normal;
}

.arrow {
  margin: 0;
  max-height: 32px;
}

.part-form {
  display: inline-block;
  flex: 1 0 auto;
}

.part-space {
  flex: 0 0 4px;
}
