<header class="bmd-layout-header">
  <div class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav">
      <li class="nav-item">Books2Json</li>
    </ul>
    <div>
      <button class="navbar-toggler" type="button" onclick="document.getElementById('import').click();">
        <i class="material-icons">attach_file</i>
      </button>
      <input id="import" type="file" (change)="onImport($event)" style="display:none;" />
      <button style="margin-left: 8px" class="navbar-toggler" type="button" (click)="onCopy()">
        <i class="material-icons">content_copy</i>
      </button>
      <button style="margin-left: 8px" class="navbar-toggler" type="button" (click)="onExport()">
        <i class="material-icons">done</i>
      </button>
    </div>
  </div>
</header>
<div class="column" style="width: calc(25%)">
  <div class="card">
    <div class="card-header">
      Общее, Категории
    </div>
    <div class="card-body">
      <ul class="list-group">
        <div class="list-group-item" style="min-height: 68px">
          <small>Токен Yandex на 1 год, обновлен {{ !db.config.datetime ? "--.--.----" : db.config.datetime }}</small>
          <div class="input-group">
            <input [(ngModel)]="db.config.token" type="text" class="form-control" (change)="onToken()">
            <div class="input-group-append">
              <button class="btn btn-primary" style="height: 30px;" type="button" onclick="window.open('https://oauth.yandex.ru/authorize?response_type=token&client_id=e58e804555a140ce9975b0ff64d47634', '_blank')">
                Обновить
              </button>
            </div>
          </div>
        </div>
        <div class="list-group-item" style="min-height: 62px">
          <small>Версия приложения</small>
          <input [(ngModel)]="db.config.version" type="text" class="form-control">
        </div>
        <li *ngFor="let c of db.categories; let i = index" class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="radio input-group-text">
                <label>
                  <input [checked]="category == i" (change)="onCategoryChange(i)" name="category" type="radio"><span class="bmd-radio"></span>
                </label>
              </div>
            </div>
            <input id="category{{ i }}" [(ngModel)]="c.name" type="text" class="form-control" placeholder="Название">
            <div class="input-group-append">
              <button (click)="onUpCategory(i)" class="btn btn-sm arrow" type="button">
                <i class="material-icons">arrow_upward</i>
              </button>
              <button (click)="onDownCategory(i)" class="btn btn-sm arrow" type="button">
                <i class="material-icons">arrow_downward</i>
              </button>
            </div>
          </div>
        </li>
      </ul>
      <div class="list-group-item" style="padding: 8px">
        <button (click)="addCategory()" class="btn btn-primary part-form">Добавить</button>
        <button [disabled]="db.categories.length <= 1" (click)="removeCategory()" class="btn btn-primary part-form">Удалить</button>
      </div>
    </div>
  </div>
</div>
<div class="column" style="width: calc(25%)">
  <div class="card">
    <div class="card-header">
      Категория, Книги
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li *ngFor="let b of db.categories[category].books; let i = index" class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="radio input-group-text">
                <label>
                  <input [checked]="book == i" (change)="onBookChange(i)" name="book" type="radio"><span class="bmd-radio"></span>
                </label>
              </div>
            </div>
            <input id="book{{ i }}" [(ngModel)]="b.name" type="text" class="form-control" placeholder="Название">
            <div class="input-group-append">
              <button (click)="onUpBook(i)" class="btn btn-sm arrow" type="button">
                <i class="material-icons">arrow_upward</i>
              </button>
              <button (click)="onDownBook(i)" class="btn btn-sm arrow" type="button">
                <i class="material-icons">arrow_downward</i>
              </button>
            </div>
          </div>
        </li>
      </ul>
      <div class="list-group-item" style="padding: 8px">
        <button (click)="addBook()" class="btn btn-primary part-form">Добавить</button>
        <button [disabled]="db.categories[category].books.length <= 1" (click)="removeBook()" class="btn btn-primary part-form">Удалить</button>
      </div>
    </div>
  </div>
</div>
<div class="column" style="width: calc(50%)">
  <div class="card">
    <div class="card-header">
      Книга, Аудиозаписи
    </div>
    <div class="card-body">
      <div class="list-group-item">
        <div class="part-form">
          <small>Автор</small>
          <input [(ngModel)]="db.categories[category].books[book].author" type="text" class="form-control">
        </div>
        <div class="part-space"></div>
        <div class="part-form">
          <small>Читатель</small>
          <input [(ngModel)]="db.categories[category].books[book].reader" type="text" class="form-control">
        </div>
      </div>
      <div class="list-group-item">
        <small>Описание</small>
        <textarea [(ngModel)]="db.categories[category].books[book].description" class="form-control" rows="5"></textarea>
      </div>
      <div class="list-group-item">
        <div class="part-form">
          <small>Путь к картинке, Firebase</small>
          <input [(ngModel)]="db.categories[category].books[book].image" type="text" class="form-control">
        </div>
        <div class="part-space"></div>
        <div class="switch">
          <label style="margin: 0">
            <input [(ngModel)]="db.categories[category].books[book].video" type="checkbox"><span class="bmd-switch-track"></span>
            Видео
          </label>
        </div>
      </div>
      <div class="list-group-item">
        <div class="part-form">
          <small>Длительность, 00:00:00</small>
          <input [(ngModel)]="db.categories[category].books[book].duration" type="text" class="form-control">
        </div>
        <div class="part-space"></div>
        <div class="part-form" *ngIf="!db.categories[category].books[book].video">
          <small>{{ 'Папка аудиозаписей, Yandex' }}</small>
          <input [(ngModel)]="db.categories[category].books[book].folder" type="text" class="form-control">
        </div>
        <div class="part-form" *ngIf="db.categories[category].books[book].video">
          <small>{{ 'Ссылка на видео, Youtube id' }}</small>
          <input [(ngModel)]="db.categories[category].books[book].youtube" type="text" class="form-control">
        </div>
      </div>
      <ul class="list-group" *ngIf="!db.categories[category].books[book].video">
        <li *ngFor="let r of db.categories[category].books[book].records; let i = index" class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="radio input-group-text">
                <label>
                  <input [checked]="record == i" (change)="onRecordChange(i)" name="record" type="radio"><span class="bmd-radio"></span>
                </label>
              </div>
            </div>
            <input id="record{{ i }}" [(ngModel)]="r.filename" type="text" class="form-control" placeholder="Имя аудиофайла, с расширением">
          </div>
        </li>
      </ul>
      <div class="list-group-item" *ngIf="!db.categories[category].books[book].video" style="padding: 8px">
        <button (click)="addRecord()" class="btn btn-primary part-form">Добавить</button>
        <button [disabled]="db.categories[category].books[book].records.length <= 1" (click)="removeRecord()" class="btn btn-primary part-form">Удалить</button>
      </div>
    </div>
  </div>
</div>

